<div class="container mt-5">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h1>
        <strong>Morning Schmooze Pair Up</strong>
        <p class="mt-4">Matchup # {{ count }}</p>
      </h1>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5">
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
        <tr *ngFor="let pair of pairs; index as i;">
          <th scope="row"> {{ i+1 }}</th>
          <td>{{ pair.seat1.name }} </td>
          <td>{{ pair.seat2.name }}</td>
        </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</div>
