<div class="container mt-5">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h1>
        <strong>Morning Schmooze Pair Up</strong>
        <p class="mt-4">Matchup # 1</p>
      </h1>
    </mdb-card-header>
    <mdb-card-body class="px-lg-5">
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bob Davis (Office Equipment & Copiers) </td>
          <td>Nicolas Ippolito (Accountants & Tax Preparation)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
        </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</div>
