<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
<!--  <div fxLayout="row" fxShow="false" fxShow.gt-sm>-->
<!--    <button mat-button routerLink="/products">Products</button>-->
<!--    <button mat-button routerLink="/dashboard">Dashboard</button>-->
<!--  </div>-->


</mat-toolbar>

<app-attendee-entry></app-attendee-entry>
