<h2 class="mat-display-1 text-center mt-3">Morning Schmooze Attendees</h2>

  <div class="row justify-content-center">
    <div *ngFor="let attendee of attendees" class="card-deck col-2">

      <div class="card p-2 m-2">
        <div class="card-body">
          <h5 class="card-title">{{ attendee.name }} : {{ attendee.id }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ attendee.industry }}</h6>
          <p class="card-text">{{ attendee.business }}</p>
          <hr>
          <h4>Paired with:</h4>
          <h5 class="card-text">{{ attendee.pairedWithName }}</h5>
        </div>
      </div>
    </div>

  </div>
